.testpage--external-id-list{
    a{
        display: inline-block;
        float: left;
        width: auto;
        margin-right: 8px;
        margin-bottom: 4px;
        border:1px solid #666;
        padding: 8px;
        border-radius: 4px;
        color: #333;
        text-decoration: none;
        font-size:0.9em;
    }
}