.review--list, .feedback-system{
    .review--stats{
        .header{
            font-size:1.2em;
            font-weight:bold;

            .total-review-count::before{
                content: "Omtaler (";
            }
            .total-review-count::after{
                content: ")";
            }
        }
        .details {
            .average-score::before {
                content: "Snittkarakter: ";
            }

            .total-review-count::before {
                content: "Antall omtaler: ";
            }
        }


        /* BEGIN SCORE BARS */
        .score-bars-with-count{
            .score-description{width:4.5em;}

            .score-pct-bar {
                display:block;
                width:100%;
                height:16px;
                background-color: #AAA;
                margin-bottom: 4px;
                border-radius: 8px;

                &>*{
                    border-radius:8px;
                    background-color: var(--review-primary-btn-color);
                    display:inline-block;
                    height:100%;
                }
            }

            .score-count{}
        }
        /* END SCORE BARS WITH COUNT */
    }
}